@import '../../styles/variables.scss';

.list-products-view .product-search {
    .product--description {
        display: flex;
        margin: 15px;
    }
    .img-product {
    //   margin-right: 50px;
      width: 94%;
      img {
        object-fit: contain;
        height: 130px;
        width: 100%;
        padding-right: 10px;
      }
    }
    width: 20%;
  }

