@import '../../styles/variables.scss';

.carousel {
  width: 100%;
  overflow: scroll;
  padding: 30px;
  position: relative;
}

.container__productsale {
display: flex;
padding-top: 5px;
}

.productsale--product {
height: 150px;
width: 230px;  

border-radius: 11px; 
margin-left: 5px;  

display: flex;
position: relative;
cursor: pointer;

transition: 400ms;
transform-origin: left;
}

.productsale--product:hover {
transform: scale(1.15)
}

.productsale--product:hover ~ .productsale--product {
transform: translate3d(35px, 0, 0);
}

.container__productsale:hover .productsale--product:hover  {
opacity:1;
}

.container__productsale:hover .productsale--product {
opacity:0.8;
}

.productsale--product img {
object-fit: contain;
border-radius: 10px;
}

.productsale--product button {
position: absolute;
cursor: pointer;
top: 117px;
right: 10px;
border: none;

border-radius: 14px;
background-color: $white-color;
color: $primary-color;
padding: 4px 8px 4px 8px;
font-size: 1em;
outline: none;
}

.productsale--product button:hover {
color: $primary-color-dark;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.BrainhubCarousel__arrows {
  background-color: $primary-color !important;
  opacity: 0.12;
  padding: 80px 10px  !important;
}

.BrainhubCarousel__arrows:hover{
  opacity: 0.6;
}

.container__secction {
  padding-top: 25px;
}

.title__secction {
  display: flex;
  justify-content: space-between;
}

.title__secction .title__star {
  font-size: 1.25rem;
  font-weight: bolder;
}

.productsale--option.mid-1  {
  display: none

}
