.circle {
  background-color: #de9818;
  color: #fff;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  margin-left: -5px;
  align-items: center;
}

.car {
  color: "#e5097f";
  font-size: 1.8rem;
}
