@import '../../styles/variables.scss';

.circle {
  background-color: $base-color;
  color: #fff;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  margin-left: -5px;
  align-items: center;
}

.car {
  color: $primary-color;
  font-size: 27px !important;
}

.cursort--point {
  cursor: pointer;
}



.product-view-nav .product--description .img-product {
  // .img-product {
  //   margin-right: 50px;
  //   width: 30%;
  // }
  img {
    height: 130px;
    width: 100%;
    padding-right: 10px;
  }
  display: flex;
  width: 30%;
}

